.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40px;
  .tags {
    height: 40px;
    width: 298px;
    margin: 0;
    background: #3c1f7b;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    li {
      display: flex;
      width: 133px;
      height: 32px;
      justify-content: center;
      align-items: center;
      font-weight: 450;
      font-size: 16px;
    }
  }
}

.tags_container {
  flex: 1;
  overflow: hidden;
}

.selected {
  background: #272430;
  border-radius: 4px;
}
