.container {
  background: $--bg-color;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .pageHeader {
    height: 95.38px;
  }

  .tags {
    flex: 1;
    margin-top: 44px;
  }
}

.calendar {
  margin-top: 24px;
  height: 406px;
}

.schedule {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  margin-top: 32px;
  margin-bottom: 33px;
}

:global {
  .svg-icon-schedule-ontime {
    width: 79.73px;
    height: 16px;
  }

  .svg-icon-schedule-notifydata {
    width: 24px;
    height: 24px;
    margin-right: 24px;
  }

  .svg-icon-schedule-more {
    width: 24px;
    height: 24px;
  }
}
